body{
    display: flex;
    flex-direction: column;
}
main{
    display: flex;
    flex-direction: row;
    flex:auto
}
article{
    flex: 2;
    overflow-y: auto;
    color: blue;
    border: style solid;
}
aside{
    flex: 1;
    overflow-y: auto;
}
header{
 display: flex;
 height: 1px;
 justify-content: right;
 align-items: last baseline;
 padding-bottom: 0vb;   
}
table, th, tr, td{
    border: 3px;
    font-weight: lighter;
}
footer{
   display: inline-block;
   color: azure; 
}
p{
display: flex;
}